# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data processed
data/processed/

# Reports output
reports/figures/*.png
reports/figures/*.svg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
